/*used type face which was on the lecture (https://velvetyne.fr/fonts/pilowlava/)*/
@font-face {
    font-family: 'Pilowlava-Atome';
    src: url('fonts/Pilowlava-Atome.woff') format('woff'),
         url('fonts/Pilowlava-Atome.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Helvetica Neue', sans-serif; 
}
    

h1{
    font-family: "Pilowlava-Atome";
    text-align: center center;
    font-size: 32px;

}

#contents{
    font-size: 16px;
}

h2{
    font-family: "Pilowlava-Atome";

}

nav a{
    font-family: 'Helvetica Neue', sans-serif;
}


