/*history web page*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: white;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .navbar h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }

.navbar h1 a{
    text-decoration: none;
    color: black;
}

  .nav-links {
    display: flex;
    gap: 2rem;
  }

  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 0.5rem 1rem;
  }

  .hero {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
  }

  .hero h2 {
    font-size: 6vw;
    font-weight: 800;
    margin: 0;
    transform: translateY(20%);
  }

  .timeline-section {
    position: relative;
    padding: 10rem 0 14rem;
  }

  .timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }

  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    background-color: #411010;
    z-index: 0;
  }

  .timeline-period {
    position: relative;
    text-align: center;
    margin: 3rem auto 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #411010;
    background-color: white;
    z-index: 1;
    width: max-content;
    padding: 0 1rem;
  }
  /*timeline set up(position, width, lenght)*/
  .timeline-entry {
    position: relative;
    width: 100%;
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }

  .timeline-entry p {
    font-weight: 500;
    margin: 0;
    background-color: white;
    padding: 0 1rem;
  }

  @media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
    }
  
    .timeline-entry {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .timeline-entry p {
      width: 90%;
      padding: 0;
      text-align: center;
    }

    .timeline::before {
      left: 50%;
      transform: translateX(-50%);
    }

    .timeline-period {
      text-align: center;
      padding-left: 0;
    }
  }