
  /*actual homepage*/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('images.css/montreal.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  .content h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    margin-bottom: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 3rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 5rem;
  }
  
  /*fade-in intro css*/
  .fade-in{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-out forwards;
  }

/*for the mobile*/
  @media (max-width: 768px) {
    .content h1 {
      font-size: 1.6em;
    }
  
    nav a {
      font-size: 0.9em;
      margin: 0 3rem;
    }
  
    nav {
      gap: 1rem;
    }
  }

/*fade-in intro css*/
  @keyframes fadeInUp {
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
